/* Óscar Martín-CastañoCarrillo */
.table{
    background-color: rgb(59, 8, 245);
    color: rgb(243, 235, 235);
    font-size: larger;
}
.si{
    background-color: skyblue;
}
.prog{
    background-color: rgb(6, 142, 6);
}
.llmm{
    background-color: yellow;
}
.bd{
    background-color: red;
}
.eed{
    background-color: rgb(209, 18, 209);
}
.fol{
    background-color: rgb(241, 145, 0);
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    border: rgb(47, 255, 0) 7px solid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
