/* Óscar Martín-CastañoCarrillo */
.table{
    background-color: rgb(59, 8, 245);
    color: rgb(243, 235, 235);
    font-size: larger;
}
.SI{
    background-color: skyblue;
}
.PROG{
    background-color: rgb(6, 142, 6);
}
.LLMM{
    background-color: yellow;
}
.BD{
    background-color: red;
}
.EED{
    background-color: rgb(209, 18, 209);
}
.FOL{
    background-color: rgb(241, 145, 0);
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    border-color: rgb(47, 255, 0);
}
